aiogram>=3.2.0
aiohttp
apscheduler
apscheduler-redis # <-- ДОБАВЛЕНА ЭТА СТРОКА
beautifulsoup4
lxml
bleach
python-dotenv
feedparser
fuzzywuzzy
python-Levenshtein
matplotlib
openai
pydantic-settings
pydantic
redis>=5.0.0
async-lru